* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-wal.pc.in -text
/apertium-wal.post-wal.dix -text
/apertium-wal.wal.lexc -text
/apertium-wal.wal.rlx -text
/apertium-wal.wal.twol -text
/autogen.sh -text
/configure.ac -text
dev/coverage.sh -text
dev/editdist.py -text
dev/history.log -text
dev/hitparade.sh -text
dev/makeparade.sh -text
dev/new-parade.sh -text
dev/spellrelax.twol -text
dev/top-verbs.sh -text
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
tests/nouns.yaml -text
tests/verbs-iss.yaml -text
tests/verbs-ivtv.yaml -text
tests/verbs-ms.yaml -text
tests/verbs.yaml -text
texts/annotated.txt -text
texts/annotated2.txt -text
texts/comm.txt -text
texts/comm2.txt -text
texts/kilikil.txt -text
texts/scan0001.txt -text
texts/scan0002.txt -text
texts/scan0003.txt -text
texts/testData.txt -text
texts/wol-new.txt -text
texts/wolaSent.txt -text
texts/words.txt -text
/wal.prob -text svneol=unset#unset
