* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-wal.pc.in -text
/apertium-wal.post-wal.dix -text
/apertium-wal.wal.lexc -text
/apertium-wal.wal.rlx -text
/apertium-wal.wal.twol -text
/autogen.sh -text
/configure.ac -text
dev/coverage.sh -text
dev/history.log -text
dev/makeparade.sh -text
dev/new-parade.sh -text
/modes.xml -text
tests/verbs.yaml -text
texts/comm.txt -text
texts/comm2.txt -text
texts/kilikil.txt -text
texts/scan0001.txt -text
texts/scan0002.txt -text
texts/scan0003.txt -text
texts/wol-new.txt -text
/wal.prob -text svneol=unset#unset
